<div id="trip-detail-card">
  <div class="row">
    <h2>
      {{trip.name}}
    </h2>
  </div>
  <div class="row">
    <div class="col-15">
      <h2>Current Status</h2>
    </div>
    <div class="col-15">
      <button id={{approval.status}}>
        {{approval.status}}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="row" id="header">
      <div class="col-25">Status</div>
      <div class="col-25">User</div>
      <div class="col-25">Time</div>
      <div class="col-25">Message</div>
    </div>
    <div id="trip-list">
      {{#each updates}}
      <div class="row">
        <div class="col-25">{{status}}</div>
        <div class="col-25">{{user.name}}</div>
        <div class="col-25">{{time}}</div>
        <div class="col-25">{{message}}</div>
      </div>
      {{/each}}
    </div>

  </div>
  <div hidden id="approval-id">{{approval._id}}</div>
  <div hidden id="approval-last-id">{{lastUpdateId}}</div>
  <form id="approval-update-form" class="new-status-form">
    <div class='row'>
      <div class="col-75">
      {{!-- new status --}}
      <div class="row">
        <div class="col-25">
          <label for="appoval-update-message">
            New Status
          </label>
        </div>
        <div class="col-75">
          <input type="radio" id="approval-same" name="status" value="" checked />
          <label for="approval-same">
            No new status
          </label>
          <input type="radio" id="approval-pending" name="status" value="PENDING" />
          <label for="approval-pending">
            Pending
          </label>
          <input type="radio" id="approval-approve" name="status" value="APPROVED" />
          <label for="approval-approve">
            Approved
          </label>
          <input type="radio" id="approval-reject" name="status" value="REJECTED" />
          <label for="approval-reject">
            Rejected
          </label>
        </div>
      </div>
      {{!-- new message --}}
      <div class="row">
        <div class="col-25">
          <label for="appoval-update-message">
            Message
          </label>
        </div>
        <div class="col-75">
          <textarea id="appoval-update-message" name="message" rows="2" placeholder="Message"
            class="full-width-input"></textarea>
        </div>
      </div>
      </div>

      <div class="col-25">
        <input type="submit" value="Send New Update" />
      </div>
    </div>


    <div id="approval-update-error" hidden></div>
  </form>
  
  <a href="/trip/{{approval.tripId}}" class="blue-button trip-button">
    To Trip Detail
  </a>


  <a href="/trip" class="blue-button trip-button">
    Back To Trips
  </a>

</div>
<script defer src="/js/approval.js"></script>