<div>
  {{trip.name}}
</div>
<div hidden id="trip-id">
  {{trip._id}}
</div>
<div>
  <a href="/approval/{{trip.approvalId}}">
    Approval:
    {{approvalInfo.status}}
  </a>
</div>
<div>
  <p>
    corporate:
    {{corporate.name}}
  </p>
  <p>
    manager:
    {{manager.name}}
  </p>
  <p>
    employees:
  </p>
  <ul>
    {{#each employees}}
      <li>
        {{name}}
      </li>
    {{/each}}
  </ul>
  <p>
    startTime:
    {{startTime}}
  </p>
  <p>
    endTime:
    {{endTime}}
  </p>
  {{expenses.length}}
  expenses, total expense:
  {{total}}
  <ul>
    {{#each expenses}}
      <li>
        {{user.name}}
        :
        {{name}}
        {{#if isMine}}
          <button id="trip-remove-{{_id}}">
            remove from trip
          </button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>