<div>
  {{trip.name}}
</div>
<div hidden id="trip-id">
  {{trip._id}}
</div>
<div>
  <a href="/approval/{{trip.approvalId}}">
    Approval:
    {{approvalInfo.status}}
  </a>
</div>
<div>
  <p>
    Corporate:
    {{corporate.name}}
  </p>
  <p>
    Manager:
    {{manager.name}}
  </p>
  <p>
    Employees:
  </p>
  <ul>
    {{#each employees}}
      <li>
        {{name}}
      </li>
    {{/each}}
  </ul>
  <p>
    Start time:
    {{startTime}}
  </p>
  <p>
    End time:
    {{endTime}}
  </p>
  <p>
    Trip expense items:
  </p>
  <ol>
    {{#each expenses}}
      <li>
        {{user.name}}
        :
        {{name}}
        {{#if isMine}}
          <button id="trip-edit-{{_id}}">
            edit
          </button>
          <button id="trip-delete-{{_id}}">
            delete
          </button>
        {{/if}}
      </li>
    {{/each}}
  </ol>
  <p>
    Total Trip Expense:
    {{total}}
  </p>
  <a id="trip-add-expense" href="/trip/{{trip._id}}/expense/new">
    Add New Expense to Trip
  </a>
  <p>
    <a href="/trip">
      Back to Trips
    </a>
  </p>
  <p>
    <a href="/approval/{{trip.approvalId}}">
      To Approval Thread
    </a>
  </p>
</div>