<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ title }} | Corporate Traveling Expense Management</title>
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <main>
    <h1>
      Corporate Traveling Expense Management
    </h1>
    <h2>
      {{title}}
    </h2>
    <nav>
      <ul>
        <li>
          <a href="/expense">
            Expenses
          </a>
        </li>
        <li>
          <a href="/trips">
            Trips
          </a>
        </li>
        {{#if isCorporateAdmin}}
        <li>
          <a href="/employees">
            Employees
          </a>
        </li>
        {{/if}}
        {{#if isCorporateAdmin}}
        <li>
          <a href="/corporates">
            Corporates
          </a>
        </li>
        {{/if}}
      </ul>
    </nav>

    <aside>
      {{#if noUser}}
      <a href="/login">
        Login
      </a>
      {{else}}
      {{#if corporate}}
      <div>
        Corporate:
        {{corporate.name}}
      </div>
      {{/if}}
      {{#if user}}
      <div>
        User:
        {{user.name}}
      </div>
      <div>
        <a href="/logout">
          Logout
        </a>
      </div>
      {{/if}}
      {{/if}}
    </aside>
    {{{body}}}
  </main>

  <footer>
    <dl>
      <dt>
        Spring 2021 CS-546
      </dt>
      <dd>
        Web Programming I - Final Project
      </dd>
      <dt>
        Professor
      </dt>
      <dd>
        Patrick Hill
      </dd>
      <dt>
        Group Members
      </dt>
      <dd>
        Parthik Davra | Vivian Dbritto | Smit Gor | Ming-Wei Hu | Junhong Wu
      </dd>
      <dt>
        GitHub
      </dt>
      <a href="https://github.com/Smit36/CS-546-Project">
        https://github.com/Smit36/CS-546-Project
      </a>
      <dd></dd>
    </dl>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>

</html>