<h1 id="title-info"></h1>
<div class="single-card">
    <div class="container">
        <h2>Corporate Name: <span>{{corporate.name}}</span></h2>
        <h3>Corporate Domain Email: <span>{{corporate.emailDomain}}</span></h3>
        <h3>Corporate Contact Number: <span>{{corporate.contactNo}}</span></h3>
        <h3>Corporate Contact Address: <span>{{corporate.address}}</span></h3>
    </div>
</div>
<div>
    <ul>
        <li id="link-list"><a href="/corporates" class='nav' id="previous">Back</a>
            <a href='/corporates/{{corporate._id}}' class='nav' id="delete" name="{{corporate._id}}">Delete</a>
            <a href='/corporates/{{corporate._id}}' class='nav' id="edit" email_domain="{{corporate.emailDomain}}" name="{{corporate.name}}" contact="{{corporate.contactNo}}" address = "{{corporate.address}}" >Edit</a>
        </li>
    </ul>
</div>
<div class="container-edit"></div>